/* .search{
    margin: 20px 50px 0;
}

.search input{
    border: 0;
    padding: 20px 10px 10px;
    width: calc(100% - 90px);
    color: #999;
    font-size: 20px;
}

.search input:focus{
    outline: none;
    border-bottom: 1px solid #CCC;
}

.btn{
    background: #00405c;
    color: #FFF;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: inset 1px 1px 4px 2px #FFF;
    border: 2px solid #00405c;
    margin-left: 10px;
}

.radio{
    margin: 20px 50px 10px;
}
.radio input{
    width: 20px;
    height: 20px;
}
.radio label{
    margin-right: 60px;
    font-size: 20px;
} */





.search{
    margin: 20px 50px 0;
}

.search input{
    border: 0;
    padding: 20px 10px 10px;
    width: calc(100% - 90px);
    color: #999;
    font-size: 20px;
}

.search input:focus{
    outline: none;
    border-bottom: 1px solid #CCC;
}

.btn{
    background: #00405c;
    color: #FFF;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: inset 1px 1px 4px 2px #FFF;
    border: 2px solid #00405c;
    margin-left: 10px;
}

.btn.active {
    background: #002837;
    box-shadow: inset 1px 1px 4px 2px #00405c;
}

.btn:disabled {
    background: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}

.radio{
    margin: 20px 50px 10px;
}
.radio input{
    width: 20px;
    height: 20px;
}
.radio label{
    margin-right: 60px;
    font-size: 20px;
}

.navigation{
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.ellipsis {
    padding: 0 10px;
    color: #666;
    font-weight: bold;
}